@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes fadeIn 
{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    } 
}

@keyframes goDark
{
    to{background-color: #2e3f47}
}

@keyframes goBright
{
    from{background-color: rgb(80, 80, 80)}
    to{background-color: white;}
}

@keyframes darkMode
{
    to{background-color: #003041;}
}

@keyframes lightMode
{
    to{background-color: #FF9190;}
}

*
{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body
{
    position: relative;
    min-height: 100vh;
}

.content
{
    font-size: 16px;
    padding: 20px;
    padding-bottom: 70px;
}

.header
{
    background-image: linear-gradient(to bottom right, #FF9190, #FDC094);
    padding: 10px;
    font-size: 16px;
}

#logo
{
    width: 200px;
}

.logoWrapper
{
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.menu
{
    clear: both;
    font-size: 18px;
}

.menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FF9190;
    display: flex;
}

.menu li 
{
    float: left;
}

.menu a
{
    display: block;
    padding: 12px;
    min-width: 100px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.menu .active
{
    background-color: #db756e;
}

.menu a:hover
{
    background-color: black;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: rgb(50, 50, 50);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown:hover .dropdown-content 
{
    display: block;
}

.content input::placeholder
{
    color: rgb(122, 122, 122);
}

.content input
{
    font-size: 16px;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 10px;
    background-color: #FF9190;
}

.content button
{
    font-size: 16px;
    width: 100px;
    background-color: #FDC094;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.content button:active
{
    position: relative;
    top: 1px;
}

.result
{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    font-size: 40px;
}

.welcome p
{
    font-size: 16px;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #FF9190;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.excersise1, .excersise2
{
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    background-color: #FF9190;
}